html {
    background-color: rgb(255, 250, 240);
}
.background-image {
    background-image: linear-gradient(rgba(255, 250, 240, 0.5), rgba(255, 250, 240, 0.5)), url(waveline\ gradient\ copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* HOMEPAGE */
#section0 {
    height: 700px;
}
.maintitle {
    color: #664549;
    font-family: "Bellota", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 360px;
    line-height: 100px;
    letter-spacing: 0.5px;
}
.mainsubtitle {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 520px;
    line-height: 25px;
    letter-spacing: 0.5px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
.mainsubtitle-myname {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 335px;
    left: 685px;
    letter-spacing: 0.5px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
.definition{
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 400px;
    left: 400px;
    line-height: 35px;
    letter-spacing: 0.5px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    animation-duration: 3s;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.scrolldown {
    font-weight: 300;
    font-family: "Raleway", serif;
    color: #664549;
    font-size: 12px;
    position: absolute;
    bottom: 79px;
    right: 45px;
    letter-spacing: 0.5px;
    transition: 2s;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.scrolldown:hover {
    font-weight:700;
}

.down-arrow {
    position: absolute;
    bottom: 23px;
    right: 22px;
    height: 8%;
    width: 10%;
    object-fit: scale-down;
    rotate: 90deg;
    transition:2s;
    opacity: 0%;
    animation: fadeIn 1s;
    animation-delay: 9s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}


/* Navigation Bar */
#navbar {
    position: sticky;
    top: 0;
    position: fixed;
}
.NavigationBar {
    font-weight: 300;
    font-family: "Raleway", serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    opacity: 0;
    animation: fadeIn 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
.list {
    list-style-type: none;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-left: -285px;
}
.nav {
    text-decoration: none;
    color: #664549;
    transition: 2s;
}
.nav:hover {
    font-weight: 700;
}


/* STANZA 01 */
#section1 {
    height: 700px;
}
.stanza01-title {
    color: #664549;
    font-family: "Bellota", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    padding-left: 100px;
    padding-top: 170px;
}
.subtitle01 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 23px;
    padding-left: 160px;
}
.lines1 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 190px;
}
.lines2 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 215px;
}
.lines3 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 235px;
}
.lines4 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 247px;
}
.doublemeaning1 {
    font-weight: 700;
    color: #664549;
    font-style: italic;
    font-family: "Raleway", serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    border: none;
    background-color: rgba(255, 250, 240, 0.4);
    border-radius: 100px;
    padding: 2px 2px;
    width: 30%;
    height: 7%;
    margin-top: 30px;
    margin-left: 235px;
    text-align: center;
    transition: 2s;
}
.doublemeaning1:hover {
    background-color: rgba(255, 250, 240, 1);
}
.section1separator {
    border-radius: 100px;
    background: rgba(255, 250, 240, 1);
    padding: 5px;
    width: 400px;
    height: 1px;
    position: absolute;
    margin-left: 400px;
    margin-top: -600px;
}


/* STANZA 02 */
#section2 {
    height: 700px;
}
.stanza02-title {
    padding-left: 235px;
    padding-top: 170px;
    color: #664549;
    font-family: "Bellota", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
}
.subtitle02 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 23px;
    padding-left: 490px;
}
.subtitle02-dm {
    padding-left: 390px;
}
.lines5 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 380px;
}
.dm2-1 {
    padding-left: 294px;
}
.lines6 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 400px;
}
.dm2-2 {
    padding-left: 318px;
}
.lines7 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 315px;
}
.dm2-3 {
    padding-left: 330px;
}
.lines8 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 390px;
}
.dm2-4 {
    padding-left: 370px;
}
.doublemeaning2 {
    font-weight: 700;
    color: #664549;
    font-style: italic;
    font-family: "Raleway", serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    border: none;
    background-color: rgba(255, 250, 240, 0.4);
    border-radius: 100px;
    padding: 2px 2px;
    width: 30%;
    height: 7%;
    margin-top: 30px;
    margin-left: 490px;
    text-align: center;
}
.doublemeaning2:hover {
    background-color: rgba(255, 250, 240, 1);
}
.section2separator {
    border-radius: 100px;
    background: rgba(255, 250, 240, 1);
    padding: 5px;
    width: 400px;
    height: 1px;
    position: absolute;
    margin-left: -25px;
    margin-top: -600px;
}


/* STANZA 03 */
#section3 {
    height: 700px;
}
.stanza03-title {
    padding-left: 155px;
    padding-top: 170px;
    color: #664549;
    font-family: "Bellota", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
}.subtitle03 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 23px;
    padding-left: 115px;
}
.lines9 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 88px;
}
.lines10 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 78px;
}
.lines11 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 80px;
}
.lines12 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 100px;
}
.doublemeaning3 {
    font-weight: 700;
    color: #664549;
    font-style: italic;
    font-family: "Raleway", serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    border: none;
    background-color: rgba(255, 250, 240, 0.4);
    border-radius: 100px;
    padding: 2px 2px;
    width: 30%;
    height: 7%;
    margin-top: 30px;
    margin-left: 150px;
    text-align: center;
    transition: 2s;
}
.doublemeaning3:hover {
    background-color: rgba(255, 250, 240, 1);
}
.section3separator {
    border-radius: 100px;
    background: rgba(255, 250, 240, 1);
    padding: 5px;
    width: 400px;
    height: 1px;
    position: absolute;
    margin-left: 525px;
    margin-top: -600px;
}


/* STANZA 04 */
#section4 {
    height: 700px;
}
.stanza04-title {
    padding-left: 360px;
    padding-top: 170px;
    color: #664549;
    font-family: "Bellota", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
}
.subtitle04 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 23px;
    padding-left: 565px;
}
.subtitle04-dm {
    padding-left: 489px;
}
.lines13 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 390px;
}
.dm4-1 {
    padding-left: 332px;
}
.lines14 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 350px;
}
.dm4-2 {
    padding-left: 328px;
}
.lines15 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 340px;
}
.dm4-3 {
    padding-left: 299px;
}
.lines16 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 345px;
}
.dm4-4 {
    padding-left: 262px;
}
.doublemeaning4 {
    font-weight: 700;
    color: #664549;
    font-style: italic;
    font-family: "Raleway", serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    border: none;
    background-color: rgba(255, 250, 240, 0.4);
    border-radius: 100px;
    padding: 2px 2px;
    width: 30%;
    height: 7%;
    margin-top: 30px;
    margin-left: 355px;
    text-align: center;
    transition: 2s;
}
.doublemeaning4:hover {
    background-color: rgba(255, 250, 240, 1);
}
.section4separator {
    border-radius: 100px;
    background: rgba(255, 250, 240, 1);
    padding: 5px;
    width: 400px;
    height: 1px;
    position: absolute;
    margin-left: 60px;
    margin-top: -600px;
}


/* STANZA 05 */
#section5 {
    height: 700px;
}
.stanza05-title {
    padding-left: 240px;
    padding-top: 170px;
    color: #664549;
    font-family: "Bellota", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
}
.subtitle05 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 700;
    font-size: 23px;
    padding-left: 247px;
}
.lines17 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 235px;
}
.lines18 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 217px;
}
.lines19 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 195px;
}
.lines20 {
    color: #664549;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-left: 175px;
}
.doublemeaning5 {
    font-weight: 700;
    color: #664549;
    font-style: italic;
    font-family: "Raleway", serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    border: none;
    background-color: rgba(255, 250, 240, 0.4);
    border-radius: 100px;
    padding: 2px 2px;
    width: 30%;
    height: 7%;
    margin-top: 30px;
    margin-left: 125px;
    text-align: center;
    transition: 2s;
}
.doublemeaning5:hover {
    background-color: rgba(255, 250, 240, 1);
}
.section5separator {
    border-radius: 100px;
    background: rgba(255, 250, 240, 1);
    padding: 5px;
    width: 400px;
    height: 1px;
    position: absolute;
    margin-left: 470px;
    margin-top: -600px;
}